<div id="banner" data-video="images/banner">
  <div class="inner">
    <app-logo></app-logo>
    <header>
      <h1>Basar Network WorlWide</h1>
      <p>
        Basar Network Television Ministry is here to show the truth, to lift up a
        soul and show Jesus; the one who is the truth but not the fake, the one
        who is the way but not the confusion, and the one who is the life but not
        a heart breaker.
        <br />
        <strong>Mission:</strong>
        To lead as many people as possible toward salvation and spiritual growth.
      </p><br />

      <h5>
        For I am not ashamed of the gospel, because it is the power of God that brings salvation to everyone who believes.
        <br />Romains 1:16
      </h5>
    </header>
  </div>
</div>
